body {
  background-color: lightblue;
}

.container {
  margin: 90px auto;
  width: 75%;
}

.textBox {
  width: 100%;
}

.textBox__textArea {
  margin: 20px auto;
  display: block;
  width: 80%;
  min-height: 400px;
}

.showCount {
  margin: 20px auto;
  width: 80%;
  background-color: #3CABC9;
  padding: 15px 0;
  color: #242829;
}

.showCount__wordTitle {
  margin-left: 50px;
}